pkgbase = ergopsx-bin
	pkgdesc = PlayStation 1 save manager: memory cards, containers, game breakdowns, consoles over FTP
	pkgver = 0.2
	pkgrel = 1
	url = https://github.com/NaikeeAndy/ergopsx
	arch = x86_64
	license = MIT
	depends = libglvnd
	depends = fontconfig
	provides = ergopsx
	conflicts = ergopsx
	options = !strip
	source = ergopsx-bin-0.2.tar.gz::https://github.com/NaikeeAndy/ergopsx/releases/download/v0.2/ErgoPSXSaveManager-v0.2-linux-x86_64.tar.gz
	source = ergopsx.desktop::https://raw.githubusercontent.com/NaikeeAndy/ergopsx/v0.2/qt/packaging/ergopsx.desktop
	source = ergopsx.png::https://raw.githubusercontent.com/NaikeeAndy/ergopsx/v0.2/qt/packaging/ergopsx.png
	sha256sums = f4f767cdf54ffb93b873a8fb8c26b9ce35bc7f86537db66ce8b4e4027a5b2563
	sha256sums = d0ed821311b4dc49b177bb8e6ec1ebe46b050dda742494ba8ed6494826cef1e2
	sha256sums = dd3a905c42eb45341ba0529121d8606fb31cb521bc2f526c8cd574fbacb65448

pkgname = ergopsx-bin
